name: Release Addon

on:
  push:
    tags:
      - '**'

env:
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Clone project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: kemayo/actions-recent-changelog@v2
        with:
          input: CHANGELOG.md
          output: RECENT_CHANGES.md

      - name: Package and release
        uses: BigWigsMods/packager@v2
